*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body, html{
    height: 100%;
}
.clear{
    clear: both;
}

.container{
    max-width: 1400px;
    margin: 0 2%;
    overflow-x: hidden;
    
}



header .menu-bar{
    width: 100%;
    padding: 30px 0;
    background-color: #378d9a;
}

header nav.menu-social{
    float: left;
    position: relative;
    top:5px;
    padding: 0 20px;
    
}

header nav.menu-social .img-social{
    width: 32px;
    height: 32px;
    background-image: url(../images/facebook.png);
    background-size: 100% 100%;
    display: inline-block;
    cursor: pointer;

}

header nav.menu-social .img-social a {
    width: 32px;
    height: 32px;

}

header nav.menu-social .img-social1{
    width: 32px;
    height: 32px;
    background-image: url(../images/instagram.png);
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}


header nav.menu-desktop{
    float: right;
    position: relative;
    top:8px;
}

header nav.menu-desktop ul{
	list-style-type: none;
}


header nav.menu-desktop ul li{
	float: left;
	font-size: 24px;
	padding:0 30px;
    font-weight: 400;
	
}

header nav.menu-desktop a{
    color:white;
    text-decoration: none;
}

header nav.menu-mobile{
   margin: 50px auto;
   width: 64px;
   height: 64px;
   background-image: url(../images/menu.png);
   background-size: 100% 100%;
   cursor: pointer;
   display: none;
 
}
header nav.menu-mobile ul{
    display: none;
    transition: 0.7s;
    width: 60%;
    border-radius: 120px;
    z-index: 999;
    
 }


 nav.menu-mobile  ul li{
    
    padding:10px 0;
    border:1px solid #378d9a;
	text-transform: uppercase;
    border-radius: 120px;
    background-color: white;
    text-align: center;
    list-style: none;
}





nav.menu-mobile ul li a{
    background-color: transparent;
    border-radius: 120px;
    color:  #378d9a;
    text-decoration: none;
}




section .banner{
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 0 2%;
    background-position: center;
    background-image: url(../images/cao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: animation_1;
    animation-duration: 2s;
    animation-iteration-count: initial;
    z-index: 98;

}



section .banner .text-banner{
    float: right;
    padding: 10px 2%;
    position: relative;
    right: 50px;
    top: 120px;
    animation: animation_1;
    animation-duration: 2s;
    animation-iteration-count: initial;
    
}

section .banner h1{

    font-size: 60px;
    text-align: center;
    color: rgb(56, 54, 54);
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;

}

section .banner p{
    
    font-size: 20px;
    text-align: center;
    text-align: left;
    color: rgb(56, 54, 54);
    font-weight: bold;
    animation: animation_2;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

section .button{
    margin-top: 20px;
    width: 120px;
    line-height: 50px;
    height: 50px;
    background-color: #378d9a;
    border-radius: 60px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
}

section .button p{
    color: rgb(247, 243, 243);
    font-size: 18px;
    font-weight: normal;
    text-align: center;
   
}

section .button a{
    text-decoration: none;
}

section .arrow{
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
    position: relative;
    top: -10px;
    z-index: 99;

}

section .line-prod{
    width: 100%;
    height: 500px;
}

section .line-prod h1{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color:teal;
}

section .mark{
    
    width: calc(100%/3);
    float: left;
    margin-top: 60px;

}

section .mark .img-mark{
    width: 100%;
    padding-top: 100%;
    border:2px solid white;
    
}

.flex-mosaico{
    display: flex;
}

.item1-mosaico{
    width: 30%;
    background-image: url(../images/l0.jpg);
    background-position: 100% 100%;
    
    background-size: cover;

}

.item2-mosaico{

    width: 70%;
    padding:120px;
    text-align:center;
    background-color:  #378d9a;
    color: white;
}



.item1-mosaico2{
    width: 30%;
    background-image: url(../images/l4.jpg);
    background-position: center;
    background-size: 100% 100%;
    order:2;
}

.item2-mosaico2{
    background-color: rgb(255, 250, 250);
    color: rgb(50, 50, 50);
    width: 70%;
    padding:120px;
    text-align:center;
    order:1;
}

.item1-mosaico3{
    width: 30%;
    background-image: url(../images/l2.jpg);
    background-position: center;
    background-size: 100% 100%;

}

.item2-mosaico3{

    width: 70%;
    padding:120px;
    text-align:center;
    background-color: #378d9a;
    color: white;
}



.item1-mosaico4{
    width: 30%;
    background-image: url(../images/l1.jpg);
    background-position: center;
    background-size: 100% 100%;
    order:2;
}

.item2-mosaico4{
    background-color: rgb(255, 250, 250);
    color: rgb(50, 50, 50);
    width: 70%;
    padding:120px;
    text-align:center;
    order:1;
}


/* Aqui Começão a página Sobre*/


section .banner-sobre{
    width: 100%;
    height: 90vh;
    min-height: 500px;
    background-image: url(../images/art1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
    z-index: 998;
}

section .history{
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: rgb(249,  249, 249);
    position: relative;
    top: -93px;
    
}


section .icon{
    float: left;
    width: calc(100%/3);

   
    
}

section .icon-sobre{
    
    width: 100%;
    padding-top: 90%;
    border:2px solid   rgb(249,  249, 249);;
    cursor: pointer;
    
}

section .icon-sobre p{
    color: rgb(7, 6, 6);
    font-size: 25px;
    font-weight: bold;
}
section .history-our{
    width: 100%;
    padding-bottom:  0;
    text-align: center;

}
section .history-our h1{
    font-size: 30px;
    font-weight: bold;
    color: #378d9a;

}

section .conto-wraper{
   display: flex;
  
}

section .conto-wraper .img-conto{
  
    width: 100%;
    height: 80vh;
    background-image: url(../images/loja.jpg);
    background-size: 100% 100%;
    margin-top:30px ;
}

section .conto-wraper .text-conto{

    width: 100%;
    margin-top: 30px; 
    
    
}

section .conto-wraper .text-conto p{
    text-align: justify;
    font-size: 16px;
    color: rgb(7, 6, 6);
    padding: 0 20px;
}



footer .sessao4{
	background-color: #378d9a;
	padding:70px 0;
    margin-top: 8px;
   
}

.form{
	float: left;
	width: 50%;
	color: white;
	padding-left: 10px;
}

.form h2{
	font-size: 23px;
	font-weight: 300;
}

.form p{
	font-size: 15px;
	font-weight: 300;
	max-width: 400px;
	padding-right: 10px;
}

.form form{
	margin-top:15px;
}

.form form input[type=text],[type = email]{
	width: 90%;
	max-width: 480px;
	margin-top:8px;
	height: 58px;
	padding-left: 8px;
	line-height: 58px;
	border:1px solid rgb(200,200,200);
    border-radius: 10px;
}

.form form textarea{
	width: 90%;
	margin-top:8px;
	max-width: 480px;
	padding:15px;
	border:1px solid rgb(200,200,200);
	height: 160px;
    border-radius: 10px;
}

.form form input[type=submit]{
	border: 0;
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top:15px;
	border-radius: 30px;
}

.form form input[type=text]:focus{
    outline: 0;
}
.form textarea{
    outline: 0;
}

.map-wraper{
	float: left;
	width: 50%;
	padding:0 10px;
	color: white;
}

.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
}

.map-wraper3{
	margin-top:10px;
	width: 100%;
	max-width: 480px;
	position: relative;
}

.map-wraper2{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	padding-top:100%;
}

.map{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	border:5px solid rgb(200,200,200);
}
.mapouter{
    width: 100%;
    height: 100%;
   
}
.mapouter iframe{
    left: 0;
	top: 0%;
	position: absolute;
    width: 100%;
    height: 100%;
  
}




@keyframes animation_1{
    from{
        opacity: 0;
        margin-left: 30px;
    }

    to{
        opacity: 1;
        margin-left: 0;
    }
    
}

@keyframes animation_2{
    from{
        opacity: 0;
        margin-right: 300px;
    }

    to{
        opacity: 1;
        margin-right: 0;
    }
    
}

    
@media screen and (max-width: 1218px){
    section .conto-wraper /* Pai*/{
       display: block;
       
      
    }
    section .conto-wraper.img-conto {
        width: 100%;
       
       

    }

    section .conto-wraper .text-conto{
        width: 100%;
        padding: 0px;
    }
    section .conto-wraper .text-conto p{
        
        padding: 0 0px;
    }
    
}
@media screen and (max-width: 1024px){
    section .banner{
       background-size: cover;
       
    }

    section .history{
        width: 100%;
        height: 500px;
        text-align: center;
        background-color: rgb(249,  249, 249);
        position: relative;
        top: -250px;
        
    }
    section .history-our{
       position: relative;
       top:-200px;
        
    }


}


@media screen and (max-width: 830px){
    
    section .banner{
        
        height: fit-content;
        
    }

    section .banner .text-banner{
        right: 0;
    }
    section .banner .text-banner h1{
      font-size: 40px;

    }

    section .banner .text-banner p{
        font-size: 18px;
    }

    header nav.menu-desktop ul li{
        float: left;
        font-size: 18px;
        padding:0 30px;
        font-weight: 400;
        
    }
    
}

@media screen and (max-width: 768px){

    header nav.menu-mobile{
        display: block;
      

    }


    header nav.menu-social{
        float: none;
        position: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        
    }

    header nav.menu-mobile:hover ul{
        display: block;
        transition: 0.7s;
        width: 40%;
        border-radius: 120px;
        position: absolute;
        right: 30%;
        top:180px;
        
     }
    
    
    nav.menu-mobile:hover ul li{
        padding:10px 0;
        border:1px solid #378d9a;
        text-transform: uppercase;
        border-radius: 120px;
        background-color: white;
        text-align: center;
        list-style: none;
        
    }
    
    nav.menu-mobile:hover ul li a{
        background-color: transparent;
        border-radius: 120px;
        color:#378d9a;
    }
    
    

    header .menu-desktop{
        display: none;
    }

    section .banner .text-banner{
       
        position: relative;
        right: 50px;
        top: 250px;
        
        
    }
    
    section .banner .text-banner h1{
    
        font-size: 30px;
       
    }
    
    section .banner p{
        
        font-size: 18px;
      
    }
    
    section .flex-mosaico{
        display: block;
    }

    .item1-mosaico{
        width: 100%;
        padding-top: 80%;
        
    }
    
    .item2-mosaico{
    
        width: 100%;
        padding:80px;
        text-align:justify;
       
    }
    
    
    .item1-mosaico2{
        width: 100%;
        padding-top: 80%;
        
    }
    
    .item2-mosaico2{
    
        width: 100%;
        padding:80px;
        text-align:justify;
       
    }
    
    .item1-mosaico3{
        width: 100%;
        padding-top: 80%;
        
    }
    
    .item2-mosaico3{
    
        width: 100%;
        padding:80px;
        text-align:justify;
       
    }
    
    
    
    .item1-mosaico4{
        width: 100%;
        padding-top: 80%;
        
    }
    
    .item2-mosaico4{
    
        width: 100%;
        padding:80px;
        text-align:justify;
       
    }

    .form{
        float: none;
        width: 100%;
    }
    
    .form p{
        display: inline-block;
        float: none;
    }
    
    .map-wraper{
        float: none;
        width: 100%;
        padding:0 8%;
        margin-top:40px;
    }
    
    
    .map-wraper3{
        margin-top:10px;
        width: 100%;
        padding-top: 100%;
        display: inline-block;
        max-width: none;
        position: relative;
    }
    
    .map-wraper2{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        padding-top:0;
    }
    section .banner-sobre{
        height: 55vh;
    }

    section .history{
        height: 300px;
    }

    section .conto-wraper .img-conto{
        height: 50vh;
    }
    section .conto-wraper .text-conto{
        width: 100%;
        padding: 0;
    }

    section .conto-wraper .text-conto p{
       font-size: 20px;
    }
    footer .sessao4{
        
        padding:30px 0;
       
    }
    }



@media screen and (max-width: 530px)
{
    section .banner .text-banner{
     
        position: relative;
        right: 0;
        top: 250px;
        
        
    }
    
    section .banner .text-banner h1{
    
        font-size: 30px;
       
    }
    
    section .banner .text-banner p{
        
        font-size: 12px;
        margin-top: 20px;
      
    }

    section .mark{
    
        width: calc(100%/2);
        float: left;
        margin-top: 60px;
    
    }
   
    
    .item2-mosaico{
    
   
        padding:40px;
  
       
    }
    
    
    
   
    .item2-mosaico2{
    
   
        padding:40px;
  
       
    }
    
    
    
    
    .item2-mosaico3{
  
        padding:40px;
  
       
    }

    section .banner-sobre{
        width: 100%;
        height: 20vh;
        min-height: 500px;
      
        
    }
    
    section .history{
        width: 100%;
        height: 200px;
        
      
        
        
    }
    
    

    section .icon-sobre{
        
        width: 100%;
        padding-top: 90%;
        border:2px solid   rgb(249,  249, 249);;
        cursor: pointer;
        
    }
    
    section .icon-sobre p{
        
        font-size:16px;
       
    }
    section .history-our{
        
        padding-bottom:  0;
        
    
    }
  
    
 
    section .conto-wraper .img-conto{
      
        width: 100%;
        height: 60vh;
        background-image: url(../images/loja.jpg);
        background-size: 100% 100%;
        margin-top:30px ;
    }
    
    section .conto-wraper .text-conto{
    
        width: 100%;
        margin-top: 20px; 
        margin-bottom: -160px;
        
    }

    

    
    .item2-mosaico4{
    
        padding:40px;
       
    }



    footer .sessao4{
        background-color: #378d9a;
        padding:30px 0;

       
    }

}